nav {
  display: flex;
  padding: 1.5em;
  box-sizing: border-box;
  height: 120px;
  color: white;
  justify-content: space-between;
}

#newTweet {
  display: flex;
  align-items: center;
  flex-direction: column;
}
div > i {
  color: red;
}
